setuptools==69.5.1
wheel==0.43.0
flask==3.0.3
prophet==1.1.5
cmdstanpy==1.2.0
pandas==2.2.3  # Обновлено до последней версии
numpy==1.26.4
scikit-learn==1.5.1
requests==2.32.3
gunicorn==22.0.0
cython==0.29.36  # Стабильная версия для сборки
statsmodels==0.14.5
